h1 {
    color: 	#3CB371;
}

#page {
	margin-top:30px;
	margin-bottom:100px;
}

img {
    margin-left: 200px;
}

#recolte {
    margin-left: 70px;
   }

#joueur {
    background:#20B2AA;
    color: white;
}

#go {
    font-weight: bold;
    margin-left: 343px;
    margin-top: 10px;
}

#compteur {
    padding: 70px;
    font-size: 20px;
}



#affichage {
    display: flex;
    justify-content: space-around;
}

#affichage > div {
    height: 100px;
    width: 100px;
    color: #FFFFFF;
    text-align: center;
    border-radius: 20px;
    padding: 9px;
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
}

#field0-value, #field1-value, #field2-value {
    background: #3CB371;
    padding: 10px 0;
    border-radius: 5px;
}   

#buy_water {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.7);
}

#buy-water-form {
    position: absolute;
    top: 50%;
    left: 50%;
}

#closeBuyWater {
    
}