h1 {
    color: 	#3CB371;
}

#page {
	margin-top:30px;
	margin-bottom:100px;
}

img {
    margin-left: 200px;
}

#recolte {
    margin-left: 500px;
   }

#joueur {
    background:#20B2AA;
    color: white;
}

#start {
    font-weight: bold;
    margin-left: 32px;
    margin-top: 10px;
}

#compteur{
     margin-left: 10px;
    margin-bottom: 50px;
}

#affichage {
    margin-right: 50px;
    text-align: center;
}


#field0-value {
	display:block;
	position: relative;
	height:60px;
	width:62px;
	background:#3CB371;
    border-rad
	color:#FFFFFF;
    text-align: center;
    border-radius: 20px;
}

#field1-value {
	display:block;
	position: relative;
	height:60px;
	width:62px;
	background:	#3CB371;
	color:#FFFFFF;
    border-radius: 20px;
}

#field2-value {
	display:block;
	position: relative;
	height:60px;
	width:62px;
	background:	#3CB371;
	color:#FFFFFF;
    border-radius: 20px;
}